.right img {
  width: 100%;
}
.ups span {
  color: #b4002d;
}
.ups {
  font-size: 3rem;
  font-weight: 800;
}
.dd {
  font-size: 40px;
  color: #ffff;
}
.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .box1 {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .box1 {
    flex-direction: column-reverse;
  }
}
