@media (max-width: 641px) {
    .wrap-calendar-sec {
        display: none;

    }
    .wrap-calendar2-sec {
        display: block !important ;
        
    }
}

@media (max-width: 500px) {
    .content-n {
        font-size: 50px;
    }
}
@media (max-width: 340px) {
    .content-n {
        font-size: 45px;
    }
}
