.container-n {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80vh; Центрирование по вертикали */
    flex-direction: column; /* Направление flex-контейнера на столбец */
 z-index: 10;
 position: relative;
 width: 100%;

}
  
  .content-n {
    /* width: 1343px; */
    /* height: 43px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Montserrat;
    font-size: 68px;
    font-weight: 700;
    line-height: 42.24px;
    text-align: left;
    margin-bottom: 100px; /* Отступ вниз */
  }
  
  .timer-n {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-top: 5px solid #DA195D; /* Граница сверху */
    border-bottom: 5px solid #DA195D;
  }
  .doub {
    font-size: 120px;
    font-weight: 600;
    margin-left: 10px;
    color: #DA195D;
  }
  .sapn-tt {
    font-size: 35px;
    color: #FBB72D;
  }
  #days,  #hours  {
    font-size: 90px;
    font-weight: 800;
  }
  #minutes, #seconds {
    font-size: 90px;
    font-weight: 800;
  }

  
  .purple-n {
    color: #DA195D;
    margin-left: 10px;
  }
  
  .countdown-n {
    width: 706px; /* Ширина */
    height: 252px; /* Высота */
    font-size: 73px; /* Размер шрифта */
    display: flex;
    justify-content: space-between; /* Распределение по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
  }
  
  .countdown-n div {
    text-align: center; /* Выравнивание текста по центру */
  }
  
  .time-unit-n {
    font-size: 73px; /* Размер шрифта для единиц времени */
  }


  @media (max-width: 950px) {
    .container-n {
      transform: scale(0.8);
    }
    .content-n{
      font-size: 50px;
    }
  }

  @media (max-width: 760px) {
    .container-n {
      transform: scale(0.6);
    }
  }

  @media (max-width: 760px) {
    .container-n {
      transform: scale(0.5);

    }
    .calendar-header h1 {
      display: none;
    }
  }
  @media (max-width: 460px) {
    .container-n {
      transform: scale(0.4);
    }
  }

  @media (max-width: 350px) {
    .container-n {
      transform: scale(0.3);
    }
  }