.wrapp-car {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Цвет текста для контраста с видео */
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlayy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #2b1028, #2b1028, rgba(43, 16, 40, 0.46),#2b1028, #2b1028);
    z-index: -1;
}

.container-car {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.title-car img {
  max-width: 100%;
  height: auto;
}

.car-content {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.car-text {
  width: 60%;
}

.car-text div {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.car-img img {
  width: 100%;
}

@media (max-width: 1100px) {
  .car-text div {
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .car-img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .car-text div {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .car-text {
    width: 100%;
  }
  .car-img {
    width: 100%;
  }
  .car-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

@media (max-width: 485px) {
  .car-text div {
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 6px;
  }
  .car-text {
    width: 100%;
  }
  .car-img {
    width: 100%;
  }
  .car-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

@media (max-width: 360px) {
  .car-text div {
    font-size: 8px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .car-text {
    width: 100%;
  }
  .car-img {
    width: 100%;
  }
  .car-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}
