body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
  }
  .wrapp-main {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .events-calendar {
    width: 50%;
    /* max-width: 1200px; */
    text-align: center;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* .navigation button {
    background-color: #ff4081;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  } */
  .wrapper-calen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } */
  
  .events-slider-wrapper {
    overflow: hidden;
    width: 100%;
  }
  
  .events-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .wrap-cal, .wrap-call {
    display: flex;
  }
  
  .event {
    min-width: 100%; /* Display one event per slide */
    padding: 0px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .event h2,
  .event p {
    margin: 0;
    padding: 5px 0;
  }
  .event img {
    height: 500px;
    
    padding: 0 5px;
}
.event div  {
    /* width: 100%; */
    width: fit-content;
    
}
.wrap-cal button, .wrap-call button {
background: none;
border: none;
padding: 0;
transition: all 0.4s ease;

}
.wrap-cal button:hover, .wrap-cal button:hover {
    transform: scale(1.2);
    
    }
.wrap-cal, .wrap-call {
    width: 103%;
}
.wrapp-main {
    box-sizing: border-box
}
.calendar-header h1 {
    font-size: 40px;
    margin-left: 30px;
}

.wrapper-calen {
  background-position:center;
      

}

.wrapper-calen::before {
     content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #2B1028, #5e2357b9, #2B1028); /* Purple color with 50% opacity */
    pointer-events: none;
    z-index: 1;
  } 


  .wrapper-calen > * {
    position: relative;
    z-index: 2;
  }
  .photo-container1 {
    position: absolute;
    left:-1500px;
    margin-top: 70px;
    transition: left 1.2s ease-in-out; /* Плавное изменение свойства left */
  }
  
  .photo-container1.show {
    left:0;

  }
.photo-container1 img {
    width: 900px;
    margin-top: 200px;
    z-index: 1;

}
.events-calendar {
    z-index: 10;
}

@media (max-width: 1500px) {
  .events-calendar {
    transform: scale(0.9);
  }
}

@media (max-width: 1300px) {
  .events-calendar {
    transform: scale(0.8);
  }
}

@media (max-width: 1115px) {
  .events-calendar {
    transform: scale(0.7);
  }
  .photo-container1 {
    transform: scale(0.9);

  }
}

@media (max-width: 976px) {
  .events-calendar {
    transform: scale(0.6);
  }
  .photo-container1 {
    transform: scale(0.8);

  }
  .calendar-header {
    margin-top: 50px;
  }
}

@media (max-width: 857px) {
  .events-calendar {
    transform: scale(0.5);
  }
  .photo-container1 {
    transform: scale(0.6);
    left:-2000px;

  }
  .calendar-header {
    margin-top: 200px !important;
    margin-bottom: 0 !important;
  }
  .photo-container1.show {
    left:-120px;

  }
}

@media (max-width: 680px) {
  .events-calendar {
    transform: scale(0.4);
  }
  .photo-container1 {
    transform: scale(0.5);
    left:-2000px;

  }
  .wrap-call {
    margin-top: 130px !important;
  }
  .wrapper-calen {
    margin-top: -400px;
  }
  .photo-container1.show {
    left:-200px;

  }
}
@media (max-width: 560px) {
  .events-calendar {
    transform: scale(0.3);
  }
  .photo-container1 {
    transform: scale(0.4);
    left:-2000px;

  }
  .photo-container1.show {
    left:-240px;

  }
}