body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
.btncalen {
  display: none;
}
.wrapp-main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 3 !important;
}
@media (max-width: 635px) {
  h2 {
    margin-bottom: 20px;
  }
  .evSlider {
    margin-top: 60px !important;
  }
}

.events-calendar {
  width: 100%;
  /* max-width: 1200px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
}

/* .navigation button {
    background-color: #ff4081;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  } */
.wrapper-calen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } */

.events-slider-wrapper {
  overflow: hidden;
  width: 1080px;
}

.events-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.wrap-cal,
.wrap-call {
  display: flex;
  width: fit-content;
}

.event {
  max-width: 100%; /* Display one event per slide */
  padding: 0px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.event h2,
.event p {
  margin: 0;
  padding: 5px 0;
}
.event img {
  height: 500px;

  padding: 0 5px;
}
.event div {
  /* width: 100%; */
  width: fit-content;
}
.wrap-cal button,
.wrap-call button {
  background: none;
  border: none;
  padding: 0;
  transition: all 0.4s ease;
}
.wrap-cal button:hover,
.wrap-cal button:hover {
  transform: scale(1.2);
}
/* .wrap-cal,
.wrap-call {
  width: 73%;
} */

.calendar-header h1 {
  font-size: 40px;
  margin-left: 30px;
}

.wrapper-calen {
  background-position: center;
  height: 50rem;
}

/* .wrapper-calen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #2b1028,
    #5e2357b9,
    #2b1028
  ); 

  pointer-events: none;
  z-index: 1;
} */
.calenSwiper {
  padding: 1rem 2rem !important;
  text-align: center;
}
.evSlider {
  display: flex;
  margin: auto;
}

.btnswp1 > img,
.btnswp2 > img {
  width: 1rem;
}
.btnswp1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0px;
  background: none;
  border: none;
}
.btnswp2 {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 0rem;
  transform: rotateY(3.142rad);
  background: none;
  border: none;
}
/* .swpimg {
  width: 10rem;
} */
.swpimg {
  /* height: 26rem; */
  height: 50rem;
}
.wrapper-calen > * {
  position: relative;
  z-index: 2;
}

.photo-container1 {
  position: absolute;
  left: -1500px;
  margin-top: 70px;
  transition: left 1.2s ease-in-out; /* Плавное изменение свойства left */
}

.photo-container1.show {
  left: 0;
}
.photo-container1 img {
  width: 900px;
  margin-top: 200px;
  z-index: 1;
}
.events-calendar {
  z-index: 10;
  /* width: fit-content; */
}
@media (max-width: 2000px) {
  .swpimg {
    height: 30rem;
  }
}

@media (max-width: 1500px) {
  .events-calendar {
    transform: scale(0.9);
  }
}
@media (max-width: 1440px) {
  .btncalen {
    display: block;
  }
}
@media (max-width: 1300px) {
  .events-calendar {
    transform: scale(0.8);
  }
}

@media (max-width: 1115px) {
  .events-calendar {
    transform: scale(0.7);
  }
  .photo-container1 {
    transform: scale(0.9);
  }
}

@media (max-width: 976px) {
  .events-calendar {
    transform: scale(0.6);
  }
  .photo-container1 {
    transform: scale(0.8);
  }
  .calendar-header {
    margin-top: 50px;
  }
}

@media (max-width: 857px) {
  .events-calendar {
    transform: scale(0.5);
  }
  .photo-container1 {
    transform: scale(0.6);
    left: -2000px;
  }
  .calendar-header {
    margin-top: 200px !important;
    margin-bottom: 0 !important;
  }
  .photo-container1.show {
    left: -120px;
  }
  .swpimg {
    height: 26rem;
  }
}
@media (max-width: 768px) {
  .containerr h1 {
    text-align: center !important;
  }
}
@media (max-width: 680px) {
  .events-calendar {
    transform: scale(0.4);
  }
  .photo-container1 {
    transform: scale(0.5);
    left: -2000px;
  }
  .wrap-call {
    margin-top: 130px !important;
  }
  .wrap-cal {
    display: none;
  }
  .wrapper-calen {
    height: 30rem;
  }
  .photo-container1.show {
    left: -200px;
  }
}
@media (max-width: 560px) {
  .events-calendar {
    transform: scale(0.3);
  }
  .photo-container1 {
    transform: scale(0.4);
    left: -2000px;
  }
  .photo-container1.show {
    left: -240px;
  }
}
@media (max-width: 425px) {
  .evSlider {
    width: 82vw;
  }
}
@media (max-width: 375px) {
  .events-calendar {
    transform: scale(0.27);
  }
  .photo-container1 {
    transform: scale(0.4);
    left: -2000px;
  }
  .photo-container1.show {
    left: -240px;
  }
  .wrapp-main {
    width: 100% !important;
  }
  .game-section {
    padding: 0 1rem !important;
  }
}
