.game-section {
  position: relative;
  text-align: center;
  padding: 60px 0;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background: url("./src/assets/dicipline/calll 1.svg") no-repeat center center; */
  background-size: cover;
  z-index: 1;
}
.game-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.gameCards {
  display: flex;
  width: 70%;
}
.gameCards > div {
  display: flex;
  justify-content: space-between;
}
/* .game-card {
  width: 30% !important;
  margin-bottom: 1rem;
} */
.gameSlider {
  display: flex;
  margin: auto;
}
/* .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

} */
.swpimggame {
  width: 100%;
}
.btnGame {
  display: none !important;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #2b1028 0%,
    rgba(94, 35, 87, 0.7) 50%,
    #2b1028 100%
  );
  z-index: 2;
}
@media (max-width: 1200px) {
  .game-card1 img {
    width: 60%;
  }
  .game-card1 {
    width: 30%;
  }
}

.content-layer {
  position: relative;
  z-index: 3;
}

.content-layer h2 {
  font-size: 64px;
  margin-bottom: 20px;
  color: white;
}

.games {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 110px;
  margin: 0 auto;
}
.gameCards {
  padding: 1rem 2rem;
}
.game-card,
.game-card1 {
  transition: transform 0.3s, filter 0.3s;
}

.game-card:hover,
.game-card1:hover {
  transform: scale(1.05);
  filter: brightness(70%);
}
.igrh1 {
  text-align: left;
  margin-bottom: 3rem;
  font-size: 2rem;
}
.participate-button,
.participate-button1 {
  font-size: 2rem;
  width: 17rem;
  position: absolute;
  top: 66%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffc107;
  color: white;
  text-decoration: none;
  display: none;
  font-weight: bold;
  border-radius: 5px;
  z-index: 3;
}

.game-card:hover .participate-button,
.participate-button1 {
  display: block;
}
@media (max-width: 1900px) {
  .participate-button,
  .participate-button1 {
    width: 10rem;
    font-size: 1rem;
  }
}
@media (max-width: 1130px) {
  .participate-button,
  .participate-button1 {
    position: absolute;
  }
}

@media (max-width: 1200px) {
  .content-layer h2 {
    font-size: 48px; /* Adjust the font size for smaller screens */
  }
  .participate-button {
    position: absolute;
    font-size: 1rem;
    font-weight: bolder;

    width: 5rem;
    font-size: 10px;
  }
  /* .game-section {
    height: 50vh;
  } */
}
@media (max-width: 860px) {
  .content-layer h2 {
    font-size: 48px; /* Adjust the font size for smaller screens */
  }
  .participate-button {
    position: absolute;
    /* top: 50%;
        left: 40%; */
    /* transform: translate(35%, -250%);
    padding: 12px 25px;
    background-color: #ffc107;
    color: white;
    text-decoration: none;
    display: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px; */
  }
}
@media (max-width: 768px) {
  .games {
    align-items: center;
    flex-wrap: wrap;
  }
  .igrh1 {
    text-align: center;
  }
  .btnGame {
    display: block !important;
  }
  /* .game-card:hover .participate-button {
        display: none;
    } */
  .content-layer h2 {
    font-size: 32px; /* Adjust the font size for smaller screens */
  }

  .game-cards {
    /* width: 50%;
        margin-bottom: 10px;  */
    flex-direction: column;
    align-items: center;
  }
  /* .game-card {
    width: 100% !important;
  } */

  .game-section {
    margin-top: 0;

    width: auto;
  }
  .game-card {
    width: 70%;
    margin-bottom: 1rem;
  }

  .content-layer h2 {
    margin-bottom: -40px !important;
  }
}
@media (max-width: 648px) {
  .gameSlider {
    margin-top: 80px;
  }
}
@media (max-width: 500px) {
  /* .background-layer {
     
        height: fit-content;
    } */
  /* .game-section {
    height: 120vh;
  } */
  /* .participate-button {
    position: absolute;
    width: 5rem;
    font-size: 0.7rem;
    font-weight: bolder;
  } */
  .game-section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .coneiner-car {
    margin-top: 0;
  }
  .watch-title {
    margin-left: 5px !important;
    margin-top: 70px;
    font-size: 23px !important;
  }
  .watch-title h1 {
    font-size: 13px !important;
  }
  .sponsor-item {
    margin-bottom: 20px;
  }
  .faq-title {
    font-size: 24px !important;
  }

  .content-layer h2 {
    font-size: 28px; /* Adjust the font size for smaller screens */
    margin-bottom: 0;
  }
  .participate-button {
    width: 5rem;
    font-size: 7px;
    height: 1rem;
    text-align: center;
    padding: 0.5rem 0 0 0;
  }
}
@media (max-width: 425px) {
  .participate-button {
    width: 10rem;
    font-size: 15px;
    height: 2rem;
    top: 70%;
  }
  .game-section {
    margin-top: 2rem;
  }
}

@media (max-width: 360px) {
  .content-layer h2 {
    font-size: 20px; /* Adjust the font size for smallest screens */
  }
}
