.container-reg {
    box-sizing: border-box;
    width: 100wh;

    /* background-image: url(/src/assets/bg-dota.svg); */
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
  }
  .overlay-reg {
    width: 100wh;
    z-index: -1;
  }
.logo-kia {
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
    .logo-kia img {
        width: 80%;
    }


  .title-reg {
    font-size: 55px;
    color: #ffff;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .reg-box {
    width: fit-content;
    background: linear-gradient(to bottom, #240921cc, #20071db6);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 50px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
  }
  .input-left {
    padding: 13px 20px;
    font-size: 20px;
  }
.input-right {
    padding: 8px 20px;
    font-size: 20px;


}
.input-right ,   .input-left {
    background-color: #FFFFFF;
    border-radius: 90px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    max-width: 520px;
    

}
.input-right::placeholder, .input-left::placeholder {
    font-weight: 700;
    color:#7D7D7D;
}


.submit-button {
font-size: 38px;
width: 100%;
border-radius: 20px;
background-color: #B4002D;
font-weight: 700;
padding: 12px 0;
border: none;
color: #ffff;
cursor: pointer;
transition: all 0.2s ease;
margin-bottom: 20px;
}

.submit-button:hover {
    background-color: #76001e;

}

.form-group div {
    font-size: 18px;
    color: #ffff;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 10px;
}
.main-wrap-reg {
    display: flex;
    justify-content: space-around;
}
.left-reg, .right-reg {
    margin: 0 50px;
}
.right-reg {
    margin-top: 10px;
}

.left-reg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar {
    display: flex;

}
.navbar div {
padding-left: 30px;
cursor: pointer;
font-size: 14px;
font-weight: 500;
}



.header-register {
    display: flex;
justify-content: space-between;
align-items:center;
padding: 10px 50px;
text-decoration: none;

}

.header-reg {
    margin: 0 auto;
    max-width: 1950px;
    text-decoration: none;

}
.loogo {
    align-items:center;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #CE1B58;
    text-decoration: none;


}
.loogo div {

 text-decoration: none;
}


.loogo img {
    margin-right: 5px;
}
.wrapp-reg-logo {
    background-color: #000000c0;

}