

.banner {
  box-sizing: border-box;
  width: 100wh;
  /* background-image: url(/src/assets/asiamall\ beck.svg); */

  background-position: center;
}











.big-logo {
  position: relative;
  top: 70px;
}

.big-logo img {
  width: 100%;
}

.video {
  width: 100%;
  max-width: 710px;
  height: auto;
  background-color: black;
  outline: 3px solid #be2858;
  position: relative;
  z-index: 3;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ovv {
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  height: 50vh;
  z-index: 2;
  padding-bottom: 120px;
}

.ovvs {
  background-size: cover;
  background-position: center;
  top: 0;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  height: auto;
  z-index: 2;
  padding-bottom: 2px;
}

.ovvs img {
  width: 100%;
  max-width: 240vh;
  opacity: 0.45;
}

.tt {
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.tt img {
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 1300px) {
  .tt img {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .tt img {
    width: 100%;
    max-width: 100%;
  }
  .tt {
    /* height: 40vh; */
  }
}
